html {
  width: 100%;
}

body {
  overflow: hidden;
  width: 100%;
}

#homepage {
  top: 80px;
  position: relative;
}

#title_div1 {
  width: 100%;
  height: 111px;
  position: relative;
  bottom: 120px;
  right: 8px;
}

#title_div2 {
  width: 75%;
  height: 111px;
  position: relative;
  margin: 0 auto;
}

#title {
  font-family: "Chewy", sans-serif;
  src: url(/assets/chewy.ttf) format("truetype");
  font-size: 85px;
  text-align: center;
}

#left_stars {
  position: absolute;
  width: 234px;
  height: 12.1428px;
  top: 50%;
  transform: translateY(-50%);
}

#right_stars {
  position: absolute;
  right: 0px;
  width: 234px;
  height: 12.1428px;
  top: 50%;
  transform: translateY(-50%);
}

.star {
  display: inline-block;
  position: relative;
  height: 12.1428px;
}

#star1 {
  float: left;
}

#star2 {
  left: 50%;
  transform: translateX(-100%);
}

#star4 {
  left: 50%;
  transform: translateX(-150%);
}

#star3 {
  float: right;
}

#about_us {
  position: absolute;
  right: 55.3275px;
  top: -105px;
  width: 75px;
  height: 75px;
  background-image: linear-gradient(
    #FFAE42,
    #f0592b,
    #e14034);
  border-radius: 50%;
  text-align: center;
  line-height: 75px;
  font-family: Segoe UI;
  font-size: 13px;
  text-decoration: none;
  color: black;
}

#cactus1 {
  position: absolute;
  bottom: -37px;
  left: 76px;
  width: 13px;
  height: 25px;
  background-image: url(cactus3.png);
  background-size: 12px;
  background-repeat: no-repeat;
}

#cactus2 {
  position: absolute;
  bottom: -37px;
  left: 55.3275px;
  width: 19px;
  height: 50px;
  background-image: url(cactus4.png);
  background-size: 19px;
  background-repeat: no-repeat;
}

#links {
  position: absolute;
  bottom: -56.8%;
  list-style: none;
  width: 101.2%;
  height: 120px;
  margin: 0;
  left: -8px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  background-color: black;
}

#links > li {
  display: block;
  float: left;
  width: 10%;
  margin-left: 57.1px;
  padding-bottom: 5px;
}

.buttons, .java_hover {
  display: inline-block;
  background-size: 184.125px 120px;
  text-align: center;
  width: 184.125px;
  height: 120px;
  left: 5.7px;
  position: relative;
  margin: 2.9px;
  bottom: 2.9px;
}

.buttons a, .java_hover a {
  position: absolute;
  top: 40%;
  transform: translateX(-50%);
  text-decoration: none;
}

#big_bend {
  background-image: url(balancedrock.jpg);
}

#prairies_lakes {
  background-image: url(Crosstimbers_2005_Richards_Ranch.png);
}

#panhandle_plains {
  background-image: url(panhandle_plains.jpg);
}

#hill_country {
  background-image: url(hill_country.jpg);
}

#pineywoods {
  background-image: url(pineywoods.jpg);
}

#south_texas_plains {
  background-image: url(south_texas_plains.jpg);
}

#gulf_coast {
  background-image: url(gulf_coast.jpg);
}

#pick_a_region {
  font-family: 'Kalam', cursive;
  color: #f0592b;
  position: absolute;
  bottom: 232px;
  left: 512px;
  font-size: 18px;
}

#arrow {
  position: absolute;
  bottom: 191px;
  left: 539px;
  width: 50px;
}

#regions_of_texas {
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  bottom: 60px;
}

.region {
  position: relative;
  width: 32%;
  background-repeat: no-repeat;
  background-size: 65px;
}

#panhandle_link {
  width: 85px;
  height: 99px;
  display: block;
  position: relative;
  right: -55px;
  top: 8.6px;
}

#panhandle_plains_region {
  background-image: url(panhandle_spritesheet.png);
  width: 79px;
  height: 87px;
  margin: 0 auto;
  background-size: 167px;
  position: relative;
  right: 5px;
  top: 12.6px;
}

#panhandle_plains_region:hover {
  background-position: -84px 0px;
}

#big_bend_link {
  display: block;
  bottom: -6px;
  left: 2px;
  width: 67px;
  height: 54.22px;
}

#big_bend_region {
  background-image: url(big_bend_spritesheet.png);
  background-size: 147px;
  bottom: -6px;
  left: 2px;
  width: 67px;
  height: 54.22px;
}

#big_bend_region:hover {
  background-position: -73px -1px;
  bottom: -6px;
  width: 75px;
  left: 2px;
}

#hill_country_link {
  bottom: 57px;
  width: 66px;
  height: 60px;
  left: 66px;
  position: relative;
  display: block;
}

#hill_country_region {
  background-image: url(hill_country_spritesheet.png);
  background-size: 137px;
  bottom: 0px;
  width: 66px;
  height: 60px;
  left: 0px;
}

#hill_country_region:hover {
  background-position: -71px -4px;
  background-size: 140px;
  bottom: 0px;
  width: 66px;
  height: 60px;
  left: 0px;
}

#prairies_lakes_link {
  position: relative;
  left: 130px;
  bottom: 146px;
  width: 32px;
  height: 72px;
  display: block;
}

#prairies_lakes_region {
  background-image: url(prairies_lakes_spritesheet.png);
  background-size: 70px;
  width: 32px;
  height: 72px;
}

#prairies_lakes_region:hover {
  background-position: -34.6px 0px;
}

#pineywoods_link {
  position: relative;
  left: 160px;
  bottom: 219px;
  width: 36px;
  height: 74px;
  display: block;
}

#pineywoods_region {
  background-image: url(pineywoods_spritesheet.png);
  background-size: 75px;
  width: 36px;
  height: 74px;
}

#pineywoods_region:hover {
  background-position: -37.6px 0px;
}

#gulf_coast_link {
  position: relative;
  bottom: 223px;
  left: 125px;
  width: 65px;
  height: 78px;
  display: block;
}

#gulf_coast_region {
  background-image: url(gulf_coast_spritesheet.png);
  background-size: 147px;
  width: 65px;
  height: 78px;
}

#gulf_coast_region:hover {
  background-position: -74px 0px;
}

#south_texas_plains_link {
  position: relative;
  bottom: 286px;
  left: 81px;
  width: 49px;
  height: 77px;
  display: block;
}

#south_texas_plains_region {
  background-image: url(south_texas_plains_spritesheet.png);
  background-size: 104px;
  width: 49px;
  height: 60px;
}

#south_texas_plains_region:hover {
  background-position: -53px -2px !important;
  width: 49px;
  height: 60px;
}
