.text_display {
  font-size: 11px;
  letter-spacing: 1.25px;
  font-family: Montserrat, Tahoma;       
  font-weight: normal;
  text-align: center;      
}

.button_transform {
  display: inline-block;
}

.buttons:hover .text_display {
  display: block;
  position: relative;
  left: 100px;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.5);   
  color: #98ff98;   
}

#links .buttons:hover .text_display, .text_display:hover {
  background-color: #181818;
  -webkit-transition: background-color 100ms linear, opacity 0.25s linear;
  -ms-transition: background-color 100ms linear, opacity 0.25s linear;
  transition: background-color 100ms linear, opacity 0.25s linear;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}

#links .text_display {
  opacity: 0;
  width: 184.125px;
  height: 120px;
  line-height: 120px;
  white-space: nowrap;
  position: relative;
  left: 92px;
}

#links .text_display h {
  line-height: 51px !important;
}