@font-face {
  font-family: 'IFC';
  src: url('IFC INSANE RODEO BOLD Bold.ttf') format('truetype');
}

.text_display {
  font-family: 'IFC';
  font-size: 34px;
  font-weight: normal;
  text-align: center;
}

.button_transform {
  display: inline-block;
}

.buttons:hover .text_display, .java_hover .text_display {
  display: block;
  position: relative;
  left: 100px;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.5);   
  color: black;   
}

#hover .text_display, .java_hover .text_display {
  display: block;
  position: relative;
  left: 100px;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.5);   
  color: black;   
}

#links .buttons:hover .text_display, #links .java_hover .text_display, .text_display:hover {
  background-color: #181818;
  -webkit-transition: background-color 100ms linear, opacity 0.25s linear;
  -ms-transition: background-color 100ms linear, opacity 0.25s linear;
  transition: background-color 100ms linear, opacity 0.25s linear;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  position: relative;
  left: 92px;
}

#links .text_display {
  opacity: 0;
  width: 186.125px;
  height: 120px;
  line-height: 120px;
  white-space: nowrap;
  position: relative;
  left: 3px;
}

#links .text_display h {
  line-height: 51px !important;
}

#big_bend .text_display {
  background-image: url(map_big_bend.png);
  background-size: 341px;
}

#panhandle_plains .text_display {
  background-image: url(map_panhandle_plains.png);
  background-size: 277px;
  background-position: 100% 11%;
}

#prairies_lakes .text_display {
  background-image: url(map_prairies_lakes.png);
  background-size: 442px;
  background-position: 81% 16%;
}

#pineywoods .text_display {
  background-image: url(map_pineywoods.png);
  background-size: 349px;
  background-position: 74% 60%;
}

#gulf_coast .text_display {
  background-image: url(map_gulf_coast.png);
  background-size: 224px;
  background-position: 92% 23%;
}

#south_texas_plains .text_display {
  background-image: url(map_south_texas_plains.png);
  background-size: 295px;
  background-position: 90% 33%;
}

#hill_country .text_display {
  background-image: url(map_hill_country.png);
  background-size: 482px;
  background-position: 50% 21%;
}