html {
  width: 100%;
}

#homepage {
  top: 80px;
  position: relative;
}

#title {
  font-family: "Chewy", sans-serif;
  src: url(/assets/chewy.ttf) format("truetype");
  font-size: 48px;
  text-align: center;
}

#homepage_text {
  font-family: "Gudea-Regular", serif;
  src: url(/assets/gudea-regular.ttf) format("opentype");
  text-align: center;
}

#links {
  text-align: center;
}

#rock_link {
  width: 100px;
  height: 100px;
}

#rock {
  height: 100px;
  overflow: hidden;
}